:root {
  --white-rgb: 255, 255, 255;
  --white-soft-rgb: 248, 248, 248;
  --white-mute-rgb: 242, 242, 242;

  --black-rgb: 24, 24, 24;
  --black-soft-rgb: 34, 34, 34;
  --black-mute-rgb: 40, 40, 40;

  --ash-gray-rgb: 174, 180, 169;
  --pale-dogwood-rgb: 224, 193, 179;
  --raisin-black-rgb: 51, 46, 60;
  --raspberry-rose-rgb: 183, 79, 111;
  --azure-rgb: 49, 133, 252;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  line-height: 1.6;
  font-family: Inter, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}
